{{!-- template-lint-disable no-invalid-interactive --}}
<div class="relative flex flex-col items-center" {{on "mouseout" this.onMouseout}} ...attributes>
  <h3 class="text-sm text-center font-bold">Attempts at translating "{{this.queryText}}" to {{@attemptLanguage}}</h3>
  <canvas class="mt-4 bg-gray-200 rounded border border-gray-400" {{did-insert this.onInsertCanvas}}>
  </canvas>

  {{#if this.showTooltip}}
    <div class="absolute p-2 bg-gray-600 rounded text-sm" style={{this.tooltipStyle}}>
      <div class="italic">"{{this.tooltipData.word}}"</div>
      <div class="mt-2 whitespace-nowrap">Guessed {{pluralize this.tooltipData.count "time"}}</div>
    </div>
  {{/if}}
</div>
