<div class="flex flex-col p-4 bg-gray-900 text-gray-200 rounded shadow border border-solid border-gray-600" ...attributes>
  {{#if this.isNewOrEditing}}
    <EuiChangesetForm
      @onSubmit={{this.saveChallenge.perform}}
      @changeset={{changeset @challenge @challenge.Validations}} 
      @runExecuteInsteadOfSave={{true}}
      @fullWidth={{true}}
      as |Form changesetObj|
    >

      <Form.FieldSelect
        @options={{this.languageOptions}}
        @label="Language"
        @fieldName="languageId"
        @hasNoInitialSelection={{true}}
        {{on "change" this.onSelectLanguage}}
      />


      {{! #region learning text }}
      <Form.FieldText
        @fieldName="learningLanguageText"
        @label={{capitalize @challenge.language.name}}
        @rowClasses="mt-6"
        {{on "input" (pick "target.value" (fn this.onInputChallengeText "learning_language"))}}
      >
      </Form.FieldText>

      <div class="mt-2 text-sm flex items-center h-6">
        <span class="text-gray-400">SUGGESTION:</span>

        {{#if this.learningLanguageTranslationSuggestionRunning}}
          <span class="w-8 ml-4">
            <EuiLoadingSpinner @size="m" />
          </span>
        {{else if this.learningLanguageTranslationSuggestion}}
          <span class="ml-1 italic">"{{this.learningLanguageTranslationSuggestion}}"</span>

          <EuiButtonIcon
            @color="success"
            @iconType="arrowUp"
            @fill={{true}}
            class="ml-2"
            {{on "click" (fn (mut @challenge.learningLanguageText) this.learningLanguageTranslationSuggestion)}}
          />
        {{else}}
          <span class="ml-2 text-gray-400">--</span>
        {{/if}}
      </div>
      {{! #endregion }}

      {{! #region learning note }}
      <Form.FieldText
        @fieldName="learningLanguageTextNote"
        @label="{{capitalize @challenge.language.name}} Note"
        @helpText="Text to send with {{capitalize @challenge.language.name}} text"
        @rowClasses="mt-6"
        {{on "input" (pick "target.value" (fn (mut @challenge.learningLanguageTextNote)))}}
      />
      {{! #endregion }}

      {{! #region native text }}
      <Form.FieldText
        @fieldName="nativeLanguageText"
        @label="English"
        {{on "input" (pick "target.value" (fn this.onInputChallengeText "native_language"))}}
      >
      </Form.FieldText>

      <div class="mt-2 text-sm flex items-center h-6">
        <span class="text-gray-400">SUGGESTION:</span>

        {{#if this.nativeLanguageTranslationSuggestionRunning}}
          <span class="w-8 ml-4">
            <EuiLoadingSpinner @size="m" />
          </span>
        {{else if this.nativeLanguageTranslationSuggestion}}
          <span class="ml-1 italic">"{{this.nativeLanguageTranslationSuggestion}}"</span>

          <EuiButtonIcon
            @color="success"
            @iconType="arrowUp"
            @fill={{true}}
            class="ml-2"
            {{on "click" (fn (mut @challenge.nativeLanguageText) this.nativeLanguageTranslationSuggestion)}}
          />
        {{else}}
          <span class="ml-2 text-gray-400">--</span>
        {{/if}}
      </div>
      {{! #endregion }}

      {{! #region native note }}
      <Form.FieldText
        @fieldName="nativeLanguageTextNote"
        @label="English Note"
        @helpText="Text to send with english text"
        @rowClasses="mt-6"
        {{on "input" (pick "target.value" (fn (mut @challenge.nativeLanguageTextNote)))}}
      />
      {{! #endregion }}
      
      {{! #region required streak }}
      <Form.FieldNumber
        @fieldName="requiredScore"
        @value={{@challenge.requiredScore}}
        @label="Required Streak for Completion"
        @onChangeValue={{fn (mut @challenge.requiredScore)}}
        @rowClasses="mt-6"
        {{on "input" (pick "target.value" (fn (mut @challenge.requiredScore)))}}
      />
      {{! #endregion }}

      {{! #region students }}
      {{#if this.studentOptions.length}}  
        <Form.FieldSelect
          @fieldName="student"
          @options={{this.studentOptions}}
          @label="Assign to"
          @rowClasses="mt-6"
        />
      {{/if}}
      {{! #endregion }}

      {{! #region save/cancel }}
      <div class="mt-8">
        <EuiButton @type="submit" @color="primary" @fill={{true}} @iconType="save" @isLoading={{this.saveChallenge.isRunning}} @isDisabled={{changesetObj.isInvalid}}>
          Save
        </EuiButton>

        <EuiButton @fill={{true}} @iconType="cross" @color="text" {{on "click" this.cancel}} class="ml-2">
          Cancel
        </EuiButton>
      </div>
      {{! #endregion }}

    </EuiChangesetForm>
  {{else}}
    {{! #region learning text and view-progress button }}
    <div class="flex items-center justify-between">
      <div>
        <span class="font-bold text-gray-400">{{capitalize @challenge.language.name}}:</span>
        <span class="ml-1">"{{@challenge.learningLanguageText}}"</span>

        {{#if @challenge.learningLanguageTextNote}}
          <span class="ml-1 text-gray-400">(Note: {{@challenge.learningLanguageTextNote}})</span>
        {{/if}}
      </div>

      {{#unless @challenge.isQueued}}
        <LinkTo @route="authenticated.challenge" class="text-gray-400 underline hover:text-gray-300" @model={{@challenge.id}}>View Attempts</LinkTo>
      {{/unless}}
    </div>
    {{! #endregion }}

    {{! #region native }}
    <div class="mt-6">
      <span class="font-bold text-gray-400">English:</span>
      <span class="ml-1">"{{@challenge.nativeLanguageText}}"</span>

      {{#if @challenge.nativeLanguageTextNote}}
        <span class="ml-1 text-gray-400">(Note: {{@challenge.nativeLanguageTextNote}})</span>
      {{/if}}
    </div>
    {{! #endregion }}

    {{! #region required streak }}
    <div class="mt-6">
      {{#if @challenge.isQueued}}
        <div class="flex items-center text-gray-400">
          <FaIcon @icon="clock" />
          <span class="ml-2">Challenge queued</span>
        </div>
      {{else if @challenge.isActive}}
        <div>
          <div class="font-bold text-gray-400">Current Streak</div>
          <div class="relative w-full h-6 rounded-full overflow-hidden bg-gray-400 mt-3">
            <div class="absolute top-0 left-0 bg-green-400 h-full" style={{this.streakBarInnerStyle}} />
            <div class="absolute top-0 left-0 h-full text-gray-900 font-mono text-sm pl-4 flex items-center">
              {{@challenge.currentStreak}}/{{@challenge.requiredScore}}
            </div>
          </div>
        </div>
      {{else if @challenge.isComplete}}
        <div class="flex items-center">
          <FaIcon @icon="check" class="text-green-400" />
          <span class="ml-2 text-gray-400">Challenge complete</span>
        </div>
      {{/if}}
    </div>
    {{! #endregion }}

    {{! #region ui buttons and created-by }}
    <div class="mt-8 flex items-center justify-between">
      <div class="text-sm text-gray-500">{{this.studentCreatorText}}</div>
      
      {{! #region save/edit/delete buttons }}
      <div class="flex items-center">
        {{#if this.showDeleteConfirmation}}
          Delete this challenge?
          <EuiButton @size="s" @fill={{true}}  @color="danger" @iconType="trash" class="ml-2" {{on "click" (perform this.destroyChallenge)}} @isLoading={{this.destroyChallenge.isRunning}}>
            Yes, delete
          </EuiButton>
          
          <EuiButton @size="s" @fill={{true}} {{on "click" (fn (mut this.showDeleteConfirmation) false)}}  @color="text" @iconType="cross" class="ml-2">
            Cancel
          </EuiButton>
        {{else}}
          <EuiButton @size="s" @fill={{true}} {{on "click" (fn (mut this.isEditing) true)}}  @color="text" @iconType="pencil">
            Edit
          </EuiButton>

          <EuiButton @size="s" @fill={{true}}  @color="danger" @iconType="trash" class="ml-2" {{on "click" (fn (mut this.showDeleteConfirmation) true)}}>
            Delete
          </EuiButton>
        {{/if}}
      </div>
      {{! #endregion }}
    </div>
    {{! #endregion }}
  {{/if}}
  
</div>
