<div {{did-insert this.fetchInitialChallenges.perform}} ...attributes>
  {{#if this.challenges}}  
    {{#each this.challenges as |challenge|}}
      <Challenge @challenge={{challenge}} class="mt-8 first:mt-0" />
    {{else}}
      <div class="text-gray-400">There are no {{@status}} challenges ¯&bsol;_(ツ)_/¯</div>
    {{/each}}

    <InfinityLoader @infinityModel={{this.challenges}}>
      {{#if this.challenges.loadingMore}}  
        <div class="mt-8 flex items-center text-gray-400">
          <Ui::LoadingIndicator />
          <span class="ml-4">Loading...</span>
        </div>
      {{/if}}
    </InfinityLoader>
  {{else}}
    <div class="flex items-center text-gray-400">
      <Ui::LoadingIndicator />
      <span class="ml-4">Loading...</span>
    </div>
  {{/if}}
</div>
