<div {{did-insert this.fetchInitialChallenges.perform}} ...attributes>
  {{#if this.challenges}}  
    {{#each this.challenges as |challenge|}}
      <Challenge @challenge={{challenge}} class="mt-8 first:mt-0" />
    {{else}}
      <div class="text-gray-400">There are no {{@status}} challenges ¯&bsol;_(ツ)_/¯</div>
    {{/each}}

    <InfinityLoader @infinityModel={{this.challenges}}>
      {{#if this.challenges.loadingMore}}  
        <EuiProgress @color="primary" @size="s" class="mt-8" />
      {{/if}}
    </InfinityLoader>
  {{else}}
    <EuiProgress @color="primary" @size="s" />
  {{/if}}
</div>
