<button
  type="button"
  {{on "click" this.onClick}}
  class="relative shadow-sm hover:shadow rounded text-white text-opacity-80 {{this.colorClasses}} {{this.sizeClasses}} {{if @task.isRunning "cursor-default"}}"
  disabled={{@task.isRunning}}
  ...attributes
>
  <span class="flex items-center {{if @task.isRunning "opacity-20"}}">
    {{#if @icon}}
      <FaIcon @icon={{@icon}} />
    {{/if}}
    
    {{#if @label}}
      <span class="first:ml-0 {{if (eq @size "sm") "ml-1" "ml-2"}}">{{@label}}</span>
    {{/if}}
  </span>

  {{#if @task.isRunning}}
    <Ui::LoadingIndicator class="absolute px-2 top-0 left-0 w-full h-full" />
  {{/if}}
</button>
