<div class="flex flex-col" ...attributes>
  {{#if @label}}
    <label class="text-xs" for={{this.inputId}}>{{@label}}</label>
  {{/if}}

  <input
    id={{this.inputId}}
    value={{@value}}
    type={{@type}}
    placeholder={{@placeholder}}
    {{on "change" this.onChange}}
    {{on "input" this.onInput}}
    class="mt-1 focus:outline-none bg-gray-100 text-gray-900 focus border-gray-600 focus:border-blue-700 rounded p-1 text-sm"
  >
</div>
