<div class="flex flex-col" ...attributes>
  {{#if this.includeLabelAndErrorSection}}
    <div class="flex items-center justify-between">
      {{#if @label}}
        <label class="text-xs" for={{this.inputId}}>{{@label}}</label>
      {{/if}}
      
      {{#if @error}}
        <span class="text-xs text-red-500 ml-4 first:ml-0">{{@error}}</span>
      {{/if}}
    </div>
    
  {{/if}}


  <input
    id={{this.inputId}}
    value={{@value}}
    type={{@type}}
    placeholder={{@placeholder}}
    {{on "change" this.onChange}}
    {{on "input" this.onInput}}
    class="mt-1 h-8 focus:outline-none bg-gray-100 text-gray-900 border rounded p-1 text-sm flex items-center {{if @error "border-red-500" "border-gray-600 focus:border-blue-700"}}"
  >
</div>
