{{page-title "Invitations"}}

<div class="p-8 flex justify-center">
  <div class="w-full max-w-3xl">

    <EuiButton
      @fill={{true}}
      @iconType="plus"
      {{on "click" this.createNewStudentTeacherInvitation}}
    >
      Invite a Teacher or Student
    </EuiButton>

    {{#each this.newStudentTeacherInvitations as |invitation|}}      
      <StudentTeacherInvitation @studentTeacherInvitation={{invitation}} class="mt-8" />
    {{/each}}

    {{#each this.invitationLists as |list|}}
      <EuiAccordion 
        @initialIsOpen={{list.invitations.length}} 
        @buttonClassName="px-4 rounded bg-gray-700 hover:bg-gray-600"
        @buttonContentClassName="p-4"
        class="mt-8"
      >
        <:buttonContent>
          <h3 class="text-xl uppercase font-medium">{{list.label}}</h3>
        </:buttonContent>
        <:content>
          <div class="mt-4">
            {{#each list.invitations as |invitation|}}
              <StudentTeacherInvitation @studentTeacherInvitation={{invitation}} class="mt-8 first:mt-0" />
            {{else}}
              <div class="text-gray-400">There's nothing here ¯&bsol;_(ツ)_/¯</div>
            {{/each}}
          </div>
        </:content>
      </EuiAccordion>
    {{/each}}

  </div>
</div>
