{{page-title "SpanishTexter"}}

<div class="h-screen w-screen">
  <nav class="flex items-center justify-end py-4 px-8 bg-black bg-opacity-20 text-gray-200">
    {{#if this.session.isAuthenticated}}
      <LinkTo @route="authenticated.home" class="hover:underline">
        Home
      </LinkTo>

      <LinkTo @route="authenticated.change-password" class="ml-8 hover:underline">
        Change Password
      </LinkTo>
    {{else}}
      <LinkTo @route="sign-up" class="ml-8 hover:underline">
        Sign Up
      </LinkTo>
    {{/if}}

    <LinkTo @route={{if this.session.isAuthenticated "authenticated.logout" "login"}} class="ml-8 first:ml-0 hover:underline">
      {{#if this.session.isAuthenticated}}
        Log Out
      {{else}}
        Log In
      {{/if}}
    </LinkTo>
  </nav>

  {{outlet}}

  <div class="fixed bottom-8 right-8">
    {{#each this.flashMessages.queue as |flash|}}
      <FlashMessage @flash={{flash}} />
    {{/each}}
  </div>
</div>
