<div class="p-8 flex justify-center">
  <div class="flex flex-col w-full max-w-xl">
    <Ui::Input @value={{this.username}} @onInputValue={{fn (mut this.username)}} @label={{t "username"}} />

    <Ui::Input 
      @type="tel"
      @value={{this.phoneNumber}} 
      @onInputValue={{fn (mut this.phoneNumber)}} 
      @label={{t "phone_number"}}
      class="mt-4" 
    />

    <Ui::Input 
      @value={{this.password}} 
      @onInputValue={{fn (mut this.password)}} 
      @type="password" 
      @label={{t "password"}}
      @error={{this.passwordError}}
      class="mt-4" 
    />
    
    <Ui::Input 
      @value={{this.passwordConfirmation}} 
      @onInputValue={{fn (mut this.passwordConfirmation)}} 
      @type="password" 
      @label={{t "password_confirmation"}}
      @error={{this.passwordConfirmationError}}
      class="mt-4" 
    />

    <Ui::Button @label={{t "button_labels.sign_up"}} @task={{this.onSubmit}} @variant="primary" class="mt-8" />
  </div>
</div>
